@media (min-width: 1024px){

}

@media (min-width:740px) and (max-width:1023px) {
    .main .slide img{
        margin-top: 10vh;
        width: 100%;
        height: 65vh;
        opacity: .7;
        margin-left: 0;
    }

    .main .Basic__part--column{
        flex-direction: column;
    }

    .main .col-3{
        width:30%;
    }

    .navbar .subnav a {
        font-size: 1.2rem;
        line-height: 3vh;
        display: block;
    }
    
}

@media (max-width:739px){

}
